<aside class="box mr-3 menu">
  <ul class="menu-list">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/budget">Budget</a></li>
    <li><a href="/transaction">Transaction</a></li>
    <li><a href="/emergency">Emergency Funds</a></li>
    <li><a href="/trip">Trip Budget</a></li>
  </ul>
  <button id="logout">Logout</button></aside>

<script src="../js/logout.js"></script>