<aside class="box menu is-fullheight">
  <ul class="menu-list">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/budget">Budget</a></li>
    <li class="menu-list"><a>Transactions</a><ul>
        <li><a href="/transaction/asset">Assets</a></li>
        <li><a href="/transaction/liabilities">Liabilities</a></li>
      </ul></li>
    <li><a href="/emergency">Emergency Funds</a></li>
    <li><a href="/trip">Trip Budget</a></li>
  </ul>
  <button
    id="logout"
    class="button is-small is-fullwidth is-primary"
  >Logout</button></aside>

<script src="../js/logout.js"></script>