<section>
  <p>Enter your monthly paychecks and other regular income.</p>
  <div>
    <h4>Income for <span id="month-of-income"></span></h4>
    {{! <form class"assets-form">  }}
    <button id="add">Add more +</button>
    <ul class="income-list">
      <li>
        <input type="text" class="category" placeholder="income category" />
        <input type="number" class="income" placeholder="amount" />
      </li>
    </ul>
    {{! </form> }}
  </div>
  <button id="total-income">Calculate Total Income</button>
</section>

<script src="../../js/monthOfIncome.js"></script>