



<div class="columns is-desktop">
  <section class="column">{{> asideNav}}</section>
  <div class="column">
  <h2 class="title is-5">Budget Planner</h2>
  <div class="column">
     <div>
      <h2 class="title is-5"> Planned Bills and Subscriptions</h2>
      <section class="is-flex column">
          <select class="select m-2 p-1 category">
             
              <option value="mortgage">Mortgage/Rent</option>
              <option value="water">Water</option>
              <option value="naturalGas">Natual Gas</option>
              <option value="electricity">Electricity</option>
              <option value="internet">Internet</option>
              <option value="streamingServices">Streaming Services</option>
              <option value="trash">Trash</option>
              <option value="phone">Phone</option>
              <option value="healthIn">Health Insurance</option>
              <option value="lifeIn">Life Insurance</option>
              <option value="autoIn">Auto Insurance</option>
              <option value="gym">Gym</option>
              <option value="grocery">Grocery</option>
              <option value="miscellaneous">Miscellaneous</option>
          </select> 
          <input type="number" placeholder="planned" class="amount input mr-3"/>
          <button class="button is-primary" id="save-btn">Save</button>
      </section>
    </div>
    <div class="column">
      <table>

      </table>

    </div>
  
  </div>
</div>
</div>  
<script src="../js/budgeting.js"></script>



  
   

