<div>
<div class="columns tile is-ancestor is-inline">
  <div class="column is-2 is-mobile is-parent">
      {{> asideNav}}  
    </div>
</div>
  <div class="is-mobile tile is-4 is-parent ">
    <h2 class="title is-5 is-child notification ">Budget Planner</h2>
    <div class="">
      <table class="table is-2  is-striped is-mobile">
        <thead>
          <th>
            Planned Bills and Subscriptions
          </th>
        </thead>
        <tr>
          <th>Category</th>
          <th>Planned Amount</th>
          <th></th>
        </tr>
        <tr class="">
          <td>
            <select class="select p-1 category is-12">

              <option value="mortgage">Mortgage/Rent</option>
              <option value="water">Water</option>
              <option value="naturalGas">Natual Gas</option>
              <option value="electricity">Electricity</option>
              <option value="internet">Internet</option>
              <option value="streamingServices">Streaming Services</option>
              <option value="trash">Trash</option>
              <option value="phone">Phone</option>
              <option value="healthIn">Health Insurance</option>
              <option value="lifeIn">Life Insurance</option>
              <option value="autoIn">Auto Insurance</option>
              <option value="gym">Gym</option>
              <option value="grocery">Grocery</option>
              <option value="miscellaneous">Miscellaneous</option>
            </select>
          </td>
          <td>
            <input type="number" placeholder="planned" class="amount input" />
          </td>
          <td>
            <button class="button is-primary" id="save-btn">Save</button>
          </td>
        </tr>
      </table>
      <div class="is-flex is-justify-content-center">
        <table class="table is-striped">
          <tr>
            <th>Category</th>
            <th>Planned</th>
          </tr>
          {{log this}}
          {{#each budgets as |budget|}}
            <tr>
              <td>{{budget.category}}</td>
              <td class="limit_amount">{{budget.limit_amount}} </td>
            </tr>
          {{/each}}
          <tfoot>
            <td>Total</td>
            <td id="total-amount"></td>
          </tfoot>
        </table>

      </div>

    </div>
  </div>
</div>
<script src="../js/budgeting.js"></script>