<div class="tile is-ancestor has-background-primary-light">
  <div class="tile home-image">
    <image src="./asset/homePageImage.jpg" class="column image" />
  </div>
  <div class="tile is-vertical green">
    <figure class="image img-fig">
      <image src="./asset/Plutus-logos_transparent.png" />

    </figure>
    <p class="subtitle">
      <a href="/login" class="button m-3">Login</a>
      <a href="/signup" class="button">Sign Up</a>
    </p>
  </div>
</div>
<script src="../js/homepage.js"></script>