<section class="homepage ">
  <div class="hero-body">
   
    <p class="title image-container">
      <image src="./asset/Plutus-logos_transparent.png" class="image"/>
    </p>
    
    <p class="subtitle">
      <a href="/login" class="button m-3">Login</a>
      <a href="/signup" class="button">Sign Up</button></a>
    </p>
  </div>
</section>



<script src="../js/homepage.js"></script>
