<div class="hero is-fullheight has-background-primary-light">
  <p class="image image-container mt-2">
    <image src="/asset/Plutus-logos.jpeg" class="image is-128x128" />
  </p>
  <div
    class="hero-body is-justify-content-center is-align-items-center is-flex is-flex-direction-column"
  >
    <h2 class="is-size-5 has-text-success title">LOGIN</h2>
    <form class="login-form">
      <div class="columns is-flex is-flex-direction-column box">
        <div class="column">
          <label for="email-login">Email</label>
          <input
            class="input is-primary"
            type="text"
            placeholder="Email address"
            id="email-login"
          />
        </div>
        <div class="column">
          <label for="password-login">Password</label>
          <input
            class="input is-primary"
            type="password"
            placeholder="Password"
            id="password-login"
          />
          {{! <a href="forget.html" class="is-size-7 has-text-primary">forget
            password?</a> }}
        </div>
        <div class="column">
          <button
            class="button is-primary is-fullwidth"
            type="submit"
          >Login</button>
        </div>
      </div>
    </form>
    <div class="has-text-centered">
      <p class="is-size-7">
        Don't have an account?
        <a href="/signup" class="has-text-primary">Sign up</a>
      </p>
    </div>
  </div>

</div>

<script src="../js/login.js"></script>
<script src="tsparticles.engine.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/tsparticles-preset-fireworks@2/tsparticles.preset.fireworks.min.js"
></script>