<div class="hero is-fullheight has-background-primary-light">
  <p class="image image-container mt-2">
    <image src="/asset/Plutus-logos.jpeg" class="image is-128x128" />
  </p>

  <div
    class="hero-body is-justify-content-center is-align-items-center is-flex is-flex-direction-column"
  >
    <h2 class="is-size-5 has-text-success title">SIGN UP</h2>
    <div class="columns is-flex is-flex-direction-column box">
      <form class="signup-form">
        <div class="column">
          <label for="name-signup">Name</label>
          <input
            class="input is-primary"
            type="text"
            placeholder="Enter Name"
            id="name-signup"
          />
        </div>
        <div class="column">
          <label for="email-signup">Email</label>
          <input
            class="input is-primary"
            type="text"
            placeholder="Email address"
            id="email-signup"
          />
        </div>
        <div class="column">
          <label for="password-signup">Password</label>
          <input
            class="input is-primary"
            type="password"
            placeholder="Password"
            id="password-signup"
          />

        </div>
        <div class="column">
          <button class="button is-primary is-fullwidth" type="submit">Create an
            account</button>
        </div>
      </form>
    </div>
    <div class="has-text-centered">
      <p>
        Already have an account?
        <a href="/login" class="has-text-primary">Login</a>
      </p>
    </div>
  </div>
</div>

<script src="../js/signup.js"></script>