<div class="container is-flex">
{{!-- {{> asideNav}} --}}
  <div class="container">
    <h2 class="title is-5">All Transactions</h2>
    {{! This section will have all the charts }}
    <div class="columns">
  <div class="column is-one-quarter">
      {{> asideNav}}  
    </div>

{{> incomes}}
 {{> expenses}}

    
   
  </div>
</div>
</div>