
<div class="container is-flex">
{{!-- {{> asideNav}} --}}
  <div class="container">
    <h2 class="title is-5">All Transactions</h2>
    {{! This section will have all the charts }}
    

{{> incomes}}
 {{> expenses}}

    
   
  </div>
</div>
</div>