
<div class="container is-flex mt-3 p-3 is-justify-content-space-between">
  {{! This is the header section of the dashboard }}
  
  
</div>
<div class="container is-flex">
{{> asideNav}}
<div class=" container">
  <h2 class="title is-5">Trip Budget</h2>
    {{! This section will have all the charts }}
  </div>
</div>
</div>