.green {
  background-color: green;

  padding: 3em;
}

.image {
  width: 100%;
}
.button {
  width: 100%;
}

.image-container {
  border: 1px solid red;
  padding: 2em;
  height: 80%;
}
.subtitle {
  width: 10em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
