.green {
  background-color: green;

  padding: 3em;
}
.img-fig {
  height: 90%;
}
.image {
  width: 100%;
}
.button {
  width: 100%;
}

.image-container {
  /* padding: 2em; */
  height: 80%;
  width: auto;
  display: flex;
  justify-content: center;
}
.subtitle {
  width: 10em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
