.green {
  background-color: green;
  padding: 3em;
}
/* .logo {
  width: 2em;
} */
#homepage {
  background-image: url("/asset/homePageImage.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.img-fig {
  width: 50%;
  margin: 0 auto;
}
.button {
  width: 100%;
}

/* .image-container {
  
  height: 80%;
  width: auto;
  display: flex;
  justify-content: center;
} */
.subtitle {
  width: 10em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
